$primaryColor: #4f4cf0fb;
$secondaryColor: #eeeeee;

$ipad: 768px;
$iphoneX: 376px;

@mixin ipad {
    @media (max-width: #{$ipad}) {
        @content;
    }
}
@mixin iphoneX {
    @media (max-width: #{$iphoneX}) {
        @content;
    }
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 5rem 0 5rem;
    background: black;
    color: #fff;
    line-height: 1.4;

    @include ipad {
        padding: 0 1.25rem 0 1.25rem;
    }

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #right-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 260px;
        font-weight: 600;
        font-size: 18px;

        a {
            text-decoration: none;
            color: $secondaryColor;
        }
        a:hover{
            color: $primaryColor;
        }
    }

    @include iphoneX {
        #right-header {
            justify-content: flex-end;

            a {
                padding-left: 1.15rem;
            }
        }
    }
}