body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  padding: 0 5rem 0 5rem;
  background: #0a0a0a;
  color: #fff;
  line-height: 1.4;
}

@media (max-width: 768px) {
  body {
    padding: 0 1.25rem 0 1.25rem;
  }
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 80px;
  background: #0a0a0a;
}

header .navWrapper {
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navWrapper img {
  display: none;
  width: 25px;
}

header .navWrapper ul {
  position: relative;
  font-weight: 600;
  font-size: 1.125rem;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header .container {
  margin: 0 auto;
  width: 90%;
}

header img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 260px;
  font-weight: 600;
  font-size: 18px;
}

header ul a {
  text-decoration: none;
  color: #eeeeee;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header ul a:hover {
  color: #6562fd;
}

header .slideOut {
  -webkit-animation: slideOut 0.4s ease-in-out forwards;
          animation: slideOut 0.4s ease-in-out forwards;
}

header .slideIn {
  -webkit-animation: slideIn 0.4s ease-in-out forwards;
          animation: slideIn 0.4s ease-in-out forwards;
}

@-webkit-keyframes slideOut {
  0% {
    display: block;
    opacity: 1;
    left: 0;
  }
  100% {
    display: none;
    opacity: 0;
    left: 100%;
  }
}

@keyframes slideOut {
  0% {
    display: block;
    opacity: 1;
    left: 0;
  }
  100% {
    display: none;
    opacity: 0;
    left: 100%;
  }
}

@-webkit-keyframes slideIn {
  0% {
    display: none;
    opacity: 0;
    left: 100%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 0;
  }
}

@keyframes slideIn {
  0% {
    display: none;
    opacity: 0;
    left: 100%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 0;
  }
}

@media (max-width: 768px) {
  header .navWrapper img {
    cursor: pointer;
    display: block;
  }
  header .navWrapper ul {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    background: #0a0a0a;
  }
  header .navWrapper ul a {
    margin: 1rem 0 0 !important;
    text-align: center !important;
    font-size: 1.2rem;
  }
  header .navWrapper ul img {
    position: absolute;
    top: 1%;
    right: 5%;
  }
}
/*# sourceMappingURL=header.css.map */