$primaryColor: #3f3cf3;
// $primaryColor: #4f4cf0;
$pColor: rgb(153, 153, 153);
$titles: #eee;
$hoverBG: rgba(79, 76, 240, 0.08);
$bg: #0a0a0a;

$ipad: 768px;
$iphoneX: 460px;

@mixin ipad {
  @media (max-width: #{$ipad}) {
    @content;
  }
}
@mixin iphoneX {
  @media (max-width: #{$iphoneX}) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

#home {
  position: relative;
  height: 100vh;
  margin-top: 5rem;

  #left-home {
    padding-top: 3rem;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 1;

    h1 span {
      color: $primaryColor;
    }
    a {
      text-decoration: none;
      border-radius: 8px;
      border: 1px solid $primaryColor;
      padding: 10px 24px;
      color: $primaryColor;
      font-size: 1rem;
      font-weight: 300;
      background: $bg;
      cursor: pointer;
    }
    a:hover {
      background: $hoverBG;
    }

    @include ipad {
      font-size: 2.5rem;
      padding-top: 12rem;
    }
    @include iphoneX {
      font-size: 2rem;
      padding-top: 7rem;
    }
  }

  #right-home {
    position: absolute;
    top: -7%;
    right: 0;
    max-width: 590px;

    img {
      width: 100%;
    }

    @include ipad {
      visibility: hidden;
    }
  }
}

.section-break {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  color: $primaryColor;

  h1::before {
    content: " ";
    position: absolute;
    top: 52%;
    left: 13%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 290px;
    background-color: $pColor;
  }
  h1::after {
    content: " ";
    position: absolute;
    top: 52%;
    left: 87%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 290px;
    background-color: $pColor;
  }

  @include ipad {
    font-size: 2rem;

    h1::before {
      top: 52%;
      left: 9%;
      width: 102px;
    }
    h1::after {
      top: 52%;
      left: 91%;
      width: 102px;
    }
  }
  @include iphoneX {
    font-size: 1.6rem;

    h1::before {
      top: 67%;
      left: 22%;
      width: 80px;
    }
    h1::after {
      top: 67%;
      left: 78%;
      width: 80px;
    }
  }
}

.section-fill-leftImg {
  .project-img {
    margin: 3rem 0 0 -4rem;
  }

  @include ipad {
    padding-top: 2rem;

    .project-img {
      margin: 1rem 0 0 -1rem;
    }
  }
  @include iphoneX {
    flex-direction: column;
    padding-top: 0;

    .project-img {
      margin: 2rem 0 1.5rem 0;
    }
  }
}
.section-fill-rightImg {
  .project-img {
    margin: 3rem -4rem 0 0;
  }

  @include ipad {
    padding-top: 2rem;

    .project-img {
      margin: 1rem -1rem 0 0;
    }
  }
  @include iphoneX {
    flex-direction: column-reverse;
    padding-top: 0;

    .project-img {
      margin: 2rem 0 1.5rem 0;
    }
  }
}

.first-project {
  margin-top: 2rem;

  @include iphoneX {
    .project-img {
      margin-top: 2rem;
    }
  }
}
.others {
  margin-top: 7rem;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17rem;
  // justify-content: center;

  @include ipad {
    margin-top: 4rem;
  }
}
.section-fill-leftImg,
.section-fill-rightImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .project-img {
    width: 720px;
    position: relative;

    video {
      position: absolute;
      top: 9.8%;
      left: 13.1%;
      object-fit: fill;
      // visibility: hidden;
    }
    img {
      width: 100%;
    }
  }
  .project-content {
    position: relative;
    color: $titles;

    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
      margin-bottom: 0;

      span {
        color: $primaryColor;
      }
    }
    p {
      margin: 1.25rem 0 2.1rem 0;
      font-size: 1.125rem;
      font-weight: 400;
      color: $pColor;
      letter-spacing: 0.011rem;
    }
    .project-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 260px;

      a.visit {
        text-decoration: none;
        border-radius: 8px;
        border: 1px solid $primaryColor;
        padding: 10px 46px 10px 24px;
        color: $primaryColor;
        font-size: 1rem;
        font-weight: 300;
        background: $bg url("../../media/redirect.png") 65px 13px no-repeat;
        background-size: 14px 14px;
        cursor: pointer;
      }
      a#disable {
        padding: 10px 24px 10px 24px;
        background: $bg;
      }
      a#github {
        text-decoration: none;
        border-radius: 8px;
        padding: 10px 46px 10px 24px;
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        background: $primaryColor url("../../media/gitWhite.png") 80px 12px
          no-repeat;
        background-size: 15px 16px;
        cursor: pointer;
      }
    }
  }

  @include ipad {
    .project-img {
      width: 600px;

      video {
        width: 290px;
        height: 177px;
      }
    }
    .project-content {
      padding-left: 3rem;

      h1 {
        font-size: 2.3rem;
      }
    }
  }
  @include iphoneX {
    .project-img {
      width: 340px;

      video {
        width: 252px;
        height: 155px;
      }
    }

    .project-content {
      padding-left: 0;

      h1 {
        font-size: 1.8rem;
      }
    }
  }
}
