#home {
  position: relative;
  height: 100vh;
}

#home #left-home {
  padding-top: 3rem;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1;
}

#home #left-home h1 span {
  color: #4f4cf0;
}

#home #left-home a {
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #4f4cf0;
  padding: 10px 24px;
  color: #4f4cf0;
  font-size: 1rem;
  font-weight: 300;
  background: black;
  cursor: pointer;
}

#home #left-home a:hover {
  background: rgba(79, 76, 240, 0.08);
}

@media (max-width: 768px) {
  #home #left-home {
    font-size: 2.5rem;
    padding-top: 12rem;
  }
}

@media (max-width: 375px) {
  #home #left-home {
    font-size: 2rem;
    padding-top: 7rem;
  }
}

#home #right-home {
  position: absolute;
  top: -7%;
  right: 0;
  max-width: 590px;
}

#home #right-home img {
  width: 100%;
}

@media (max-width: 768px) {
  #home #right-home {
    visibility: hidden;
  }
}

.section-break {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  color: #4f4cf0;
}

.section-break h1::before {
  content: ' ';
  position: absolute;
  top: 52%;
  left: 13%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  width: 290px;
  background-color: #999999;
}

.section-break h1::after {
  content: ' ';
  position: absolute;
  top: 52%;
  left: 87%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  width: 290px;
  background-color: #999999;
}

@media (max-width: 768px) {
  .section-break {
    font-size: 2rem;
  }
  .section-break h1::before {
    top: 52%;
    left: 9%;
    width: 102px;
  }
  .section-break h1::after {
    top: 52%;
    left: 91%;
    width: 102px;
  }
}

@media (max-width: 375px) {
  .section-break {
    font-size: 1.6rem;
  }
  .section-break h1::before {
    top: 67%;
    left: 22%;
    width: 80px;
  }
  .section-break h1::after {
    top: 67%;
    left: 78%;
    width: 80px;
  }
}

.section-fill-leftImg .project-img {
  margin: 3rem 0 0 -3rem;
}

@media (max-width: 768px) {
  .section-fill-leftImg {
    padding-top: 2rem;
  }
  .section-fill-leftImg .project-img {
    margin: 1rem 0 0 -1rem;
  }
}

@media (max-width: 375px) {
  .section-fill-leftImg {
    padding-top: 0;
  }
  .section-fill-leftImg .project-img {
    margin: 4rem 0 0 -1rem;
  }
}

.project-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17rem;
}

@media (max-width: 768px) {
  .project-section {
    margin-top: 4rem;
  }
}

.section-fill-leftImg, .section-fill-rightImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.section-fill-leftImg .project-img, .section-fill-rightImg .project-img {
  width: 720px;
  position: relative;
}

.section-fill-leftImg .project-img video, .section-fill-rightImg .project-img video {
  position: absolute;
  top: 9.8%;
  left: 13.1%;
  -o-object-fit: fill;
     object-fit: fill;
}

.section-fill-leftImg .project-img img, .section-fill-rightImg .project-img img {
  width: 100%;
}

.section-fill-leftImg .project-content, .section-fill-rightImg .project-content {
  position: relative;
}

.section-fill-leftImg .project-content h1, .section-fill-rightImg .project-content h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0;
}

.section-fill-leftImg .project-content h1 span, .section-fill-rightImg .project-content h1 span {
  color: #4f4cf0;
}

.section-fill-leftImg .project-content p, .section-fill-rightImg .project-content p {
  margin: 1.25rem 0 2.1rem 0;
  font-size: 1.125rem;
  font-weight: 400;
  color: #999999;
  letter-spacing: 0.011rem;
}

.section-fill-leftImg .project-content .project-btn, .section-fill-rightImg .project-content .project-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
}

.section-fill-leftImg .project-content .project-btn a#visit, .section-fill-rightImg .project-content .project-btn a#visit {
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #4f4cf0;
  padding: 10px 46px 10px 24px;
  color: #4f4cf0;
  font-size: 1rem;
  font-weight: 300;
  background: black url("../../media/redirect.png") 65px 13px no-repeat;
  background-size: 14px 14px;
  cursor: pointer;
}

.section-fill-leftImg .project-content .project-btn a#github, .section-fill-rightImg .project-content .project-btn a#github {
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 46px 10px 24px;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  background: #4f4cf0 url("../../media/gitWhite.png") 80px 12px no-repeat;
  background-size: 15px 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-fill-leftImg .project-img, .section-fill-rightImg .project-img {
    width: 600px;
  }
  .section-fill-leftImg .project-img video, .section-fill-rightImg .project-img video {
    width: 290px;
    height: 177px;
  }
  .section-fill-leftImg .project-content, .section-fill-rightImg .project-content {
    padding-left: 3rem;
  }
  .section-fill-leftImg .project-content h1, .section-fill-rightImg .project-content h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 375px) {
  .section-fill-leftImg, .section-fill-rightImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-fill-leftImg .project-img, .section-fill-rightImg .project-img {
    width: 340px;
  }
  .section-fill-leftImg .project-img video, .section-fill-rightImg .project-img video {
    width: 252px;
    height: 155px;
  }
  .section-fill-leftImg .project-content, .section-fill-rightImg .project-content {
    padding-left: 0;
  }
  .section-fill-leftImg .project-content h1, .section-fill-rightImg .project-content h1 {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=work.css.map */