$primaryColor: #4f4cf0;
$pColor: rgb(153, 153, 153);
$hoverBG: rgba(79, 76, 240, 0.08);

#home {
    position: relative;
    height: 100vh;

    #left-home {
        padding-top: 3rem;
        font-size: 2.8rem;
        font-weight: 900;
        line-height: 1;
    
        h1 span {
            color: $primaryColor;
        }
        a {
            text-decoration: none;
            border-radius: 8px;
            border: 1px solid $primaryColor;
            padding: 10px 24px;
            color: $primaryColor;
            font-size: 1rem;
            font-weight: 300;
            background: black;
            cursor: pointer;
        }
        a:hover {
            background: $hoverBG;
        }
    }
    
    #right-home {
        position: absolute;
        top: -7%;
        right: 0;
        max-width: 590px;
    
        img {
            width: 100%;
        }
    }
}

.section-break {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    color: $primaryColor;

    h1::before {
        content: ' ';
        position: absolute;
        top: 52%;
        left: 13%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 290px;
        background-color: $pColor;
    }
    h1::after {
        content: ' ';
        position: absolute;
        top: 52%;
        left: 87%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 290px;
        background-color: $pColor;
    }
}

.section-fill-leftImg .project-img{
    margin: 3rem 0 0 -3rem;
}
.section-fill-rightImg .project-img{
    margin: 0 -3rem 0 0;
}
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11rem;
    // justify-content: center;
}

.section-fill-leftImg, .section-fill-rightImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .project-img {
        width: 720px;
        position: relative;

        video {
            position: absolute;
            top: 9.8%;
            left: 13.1%;
            object-fit: fill;
            // visibility: hidden;
        }
        img {
            width: 100%;
        }
    }
    .project-content {
        position: relative;

        h1 {
            font-size: 2.5rem;
            line-height: 1.2;
            margin-bottom: 0;
        
            span{
                color: $primaryColor;
            }
        }
        p {
            margin: 1.25rem 0 2.1rem 0;
            font-size: 1.125rem;
            font-weight: 400;
            color: $pColor;
            letter-spacing: 0.011rem;
        }
        .project-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 260px;


            a#visit {
                text-decoration: none;
                border-radius: 8px;
                border: 1px solid $primaryColor;
                padding: 10px 46px 10px 24px;
                color: $primaryColor;
                font-size: 1rem;
                font-weight: 300;
                background: black url('../../media/redirect.png') 65px 13px no-repeat;
                background-size: 14px 14px;
                cursor: pointer;
            }
            a#github {
                text-decoration: none;
                border-radius: 8px;
                padding: 10px 46px 10px 24px;
                color: #fff;
                font-size: 1rem;
                font-weight: 300;
                background: $primaryColor url('../../media/gitWhite.png') 80px 12px no-repeat;
                background-size: 15px 16px;
                cursor: pointer;
            }
        }
    }
}